<p align='center'>Olá {{name}}</p>
<p align='center'>Seja bem-vindo(a) ao aplicativo Orienta UnB. Este é um projeto
  criado por Denys Rogeres e Leonardo Barreiros.</p>
<p align='center'>Esperamos que possa lhe ajudar com a sua jornada dentro da
  Universidade.</p>
<strong><p align='center'>{{code}}</p></strong>
<p>Caso não tenha feito solicitação, desconsidere este e-mail.</p>